@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    font-family: 'Arvo', serif;
    margin: 0%;
    padding: 0%;
}

button{
    cursor: pointer;
}

body{
    background-image: url(https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) ;
    /* background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) ; */
    
    background-size: cover;
    background-position: center;
}